In [1]:
import pandas as pd
import numpy as np

In [2]:
df_cw = pd.read_csv('/Users/rammaruthi/Desktop/Truck/data/cleaned/df_city_weather_cleaned.csv')
df_d = pd.read_csv('/Users/rammaruthi/Desktop/Truck/data/cleaned/df_drivers_table_cleaned.csv')
df_r = pd.read_csv('/Users/rammaruthi/Desktop/Truck/data/cleaned/df_routes_table_cleaned.csv')
df_rw = pd.read_csv('/Users/rammaruthi/Desktop/Truck/data/cleaned/df_routes_weather_cleaned.csv')
df_t = pd.read_csv('/Users/rammaruthi/Desktop/Truck/data/cleaned/df_traffic_table_cleaned.csv')
df_ts = pd.read_csv('/Users/rammaruthi/Desktop/Truck/data/cleaned/df_truck_schedule_table_cleaned.csv')
df_tr = pd.read_csv('/Users/rammaruthi/Desktop/Truck/data/cleaned/df_trucks_table_cleaned.csv')

In [4]:
print('Table df_cw')
df_cw.head()

Table df_cw

,city_id,date,hour,temp,wind_speed,description,precip,humidity,visibility,pressure
0,C-927ceb5e,2019-01-01,0,30,11,Light snow,0.0,86,6,1019
1,C-927ceb5e,2019-01-01,900,25,13,Light snow,0.0,83,6,1029
2,C-927ceb5e,2019-01-01,1000,27,13,Light snow,0.0,82,6,1029
3,C-927ceb5e,2019-01-01,1100,27,13,Light snow,0.0,81,6,1029
4,C-927ceb5e,2019-01-01,1200,27,14,Light snow,0.0,80,6,1029

In [5]:
print('Table df_d')
df_d.head()

Table df_d

,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph
0,d9f30553-6,Daniel Marks,male,47,5,proactive,7,42302347,62.22
1,82de7bb8-2,Clifford Carr,male,47,14,proactive,4,27867488,60.89
2,7e789842-4,Terry Faulkner MD,male,41,9,conservative,2,13927774,53.67
3,b2e58421-d,Vincent Davis,male,41,10,proactive,7,28650047,62.65
4,6ef125cc-7,Alexander Wheeler,male,49,10,proactive,4,29303248,57.66

In [6]:
print('Table df_r')
df_r.head()

Table df_r

     route_id   origin_id destination_id  distance  average_hours
0  R-ada2a391  C-927ceb5e     C-56e39a5e   1735.06          34.70
1  R-ae0ef31f  C-927ceb5e     C-73ae5412   1498.24          29.96
2  R-8d7a7fb2  C-927ceb5e     C-451776b7   1543.01          30.86
3  R-b236e347  C-927ceb5e     C-d80a1e7d    310.75           6.22
4  R-93f348a8  C-927ceb5e     C-c92599e2   1810.21          36.20

In [7]:
print('Table df_rw')
df_rw.head()

Table df_rw

,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,R-ada2a391,2019-01-02 06:00:00,27,11,Cloudy,0.0,92,6,1015
1,R-ada2a391,2019-01-03 00:00:00,27,9,Cloudy,0.0,93,6,1016
2,R-ada2a391,2019-01-03 06:00:00,27,8,Partly cloudy,0.0,94,6,1018
3,R-ada2a391,2019-01-04 00:00:00,27,7,Partly cloudy,0.0,94,6,1019
4,R-ada2a391,2019-01-04 06:00:00,28,8,Partly cloudy,0.0,92,6,1020

In [8]:
print('Traffic df_t')
df_t.head()

Traffic df_t

     route_id        date  hour  no_of_vehicles  accident
0  R-ada2a391  2019-01-01     0           669.0         0
1  R-ada2a391  2019-01-01   100           628.0         0
2  R-ada2a391  2019-01-01   200           516.0         0
3  R-ada2a391  2019-01-01   300           582.0         0
4  R-ada2a391  2019-01-01   400           564.0         0

In [9]:
print('Table df_ts')
df_ts.head()

Table df_ts

,truck_id,route_id,departure_date,estimated_arrival,delay
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0
1,12602955,R-a3d67783,2019-01-01 07:00:00,2019-01-01 07:45:36.000000000,0
2,46619422,R-31ec9310,2019-01-01 07:00:00,2019-01-01 20:46:48.000000000,0
3,10140178,R-a07c5dbd,2019-01-01 07:00:00,2019-01-01 21:34:11.999999999,0
4,22653688,R-af4b19be,2019-01-01 07:00:00,2019-01-01 15:39:36.000000000,0

In [10]:
print('Table df_tr')
df_tr.head()

Table df_tr

   truck_id  truck_age  load_capacity_pounds  mileage_mpg fuel_type
0  42302347         10                3000.0           17       gas
1  27867488         14               10000.0           22    diesel
2  13927774          8               10000.0           19       gas
3  28650047         10                4000.0           21    diesel
4  29303248          9                4000.0           15       gas

In [11]:
print('Table df_ts')
df_ts.head()

Table df_ts

,truck_id,route_id,departure_date,estimated_arrival,delay
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0
1,12602955,R-a3d67783,2019-01-01 07:00:00,2019-01-01 07:45:36.000000000,0
2,46619422,R-31ec9310,2019-01-01 07:00:00,2019-01-01 20:46:48.000000000,0
3,10140178,R-a07c5dbd,2019-01-01 07:00:00,2019-01-01 21:34:11.999999999,0
4,22653688,R-af4b19be,2019-01-01 07:00:00,2019-01-01 15:39:36.000000000,0

In [12]:
merged_df1 = pd.merge(df_ts,df_r,on='route_id',how='inner')
merged_df1.isnull().sum()
merged_df1.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22
1,12602955,R-a3d67783,2019-01-01 07:00:00,2019-01-01 07:45:36.000000000,0,C-927ceb5e,C-a9f2c329,38.10,0.76
2,46619422,R-31ec9310,2019-01-01 07:00:00,2019-01-01 20:46:48.000000000,0,C-927ceb5e,C-c7cacd1d,688.91,13.78
3,10140178,R-a07c5dbd,2019-01-01 07:00:00,2019-01-01 21:34:11.999999999,0,C-927ceb5e,C-ef47bdcd,728.40,14.57
4,22653688,R-af4b19be,2019-01-01 07:00:00,2019-01-01 15:39:36.000000000,0,C-927ceb5e,C-84f378bb,433.01,8.66

In [13]:
merged_df1.isnull().sum()

truck_id             0
route_id             0
departure_date       0
estimated_arrival    0
delay                0
origin_id            0
destination_id       0
distance             0
average_hours        0
dtype: int64

In [14]:
merged_df2 = pd.merge(merged_df1,df_tr,on='truck_id',how='inner')
merged_df2

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,load_capacity_pounds,mileage_mpg,fuel_type
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,3000.0,23,diesel
1,12602955,R-a3d67783,2019-01-01 07:00:00,2019-01-01 07:45:36.000000000,0,C-927ceb5e,C-a9f2c329,38.10,0.76,10,3000.0,26,diesel
2,10140178,R-a07c5dbd,2019-01-01 07:00:00,2019-01-01 21:34:11.999999999,0,C-927ceb5e,C-ef47bdcd,728.40,14.57,12,3000.0,23,diesel
3,22653688,R-af4b19be,2019-01-01 07:00:00,2019-01-01 15:39:36.000000000,0,C-927ceb5e,C-84f378bb,433.01,8.66,8,6000.0,22,diesel
4,21048046,R-0f705429,2019-01-01 07:00:00,2019-01-02 01:41:24.000000000,0,C-927ceb5e,C-6ea51d66,934.70,18.69,7,3000.0,23,diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8836,30440990,R-a25c91b1,2019-02-10 07:00:00,2019-02-11 20:43:48.000000000,1,C-328bd8d3,C-73ae5412,1886.36,37.73,8,6000.0,25,diesel
8837,22916520,R-2d820ac5,2019-02-10 07:00:00,2019-02-11 21:30:36.000000000,1,C-328bd8d3,C-451776b7,1925.58,38.51,10,15000.0,22,diesel
8838,22596717,R-d5544c1b,2019-02-10 07:00:00,2019-02-12 00:49:48.000000000,0,C-841ebdcb,C-731988ba,2091.61,41.83,9,15000.0,17,gas
8839,19202933,R-af4cb383,2019-02-10 07:00:00,2019-02-11 20:18:36.000000000,1,C-841ebdcb,C-3dbd8b2e,1865.44,37.31,12,4000.0,24,diesel
8840,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,6000.0,22,diesel

In [15]:
merged_df2.isnull().sum()

truck_id                0
route_id                0
departure_date          0
estimated_arrival       0
delay                   0
origin_id               0
destination_id          0
distance                0
average_hours           0
truck_age               0
load_capacity_pounds    0
mileage_mpg             0
fuel_type               0
dtype: int64

In [16]:
merged_df2['departure_date_only'] = pd.to_datetime(merged_df2['departure_date']).dt.date
df_rw['date'] = pd.to_datetime(df_rw['date']).dt.date

In [17]:
merged_df3 = pd.merge(merged_df2,df_rw,left_on=['route_id','departure_date_only'],right_on=['route_id','date'],how='inner')
merged_df3

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,fuel_type,departure_date_only,date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,39,4,Light rain,0.0,97,6,1008
1,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,39,5,Light rain,0.0,98,6,1008
2,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,23,4,Clear,0.0,76,6,1011
3,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,23,4,Clear,0.0,73,6,1011
4,12602955,R-a3d67783,2019-01-01 07:00:00,2019-01-01 07:45:36.000000000,0,C-927ceb5e,C-a9f2c329,38.10,0.76,10,...,diesel,2019-01-01,2019-01-01,18,11,Patchy light snow,0.0,56,6,1015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25800,22596717,R-d5544c1b,2019-02-10 07:00:00,2019-02-12 00:49:48.000000000,0,C-841ebdcb,C-731988ba,2091.61,41.83,9,...,gas,2019-02-10,2019-02-10,79,5,Patchy rain possible,0.0,57,6,1016
25801,19202933,R-af4cb383,2019-02-10 07:00:00,2019-02-11 20:18:36.000000000,1,C-841ebdcb,C-3dbd8b2e,1865.44,37.31,12,...,diesel,2019-02-10,2019-02-10,81,6,Sunny,0.0,44,6,1015
25802,19202933,R-af4cb383,2019-02-10 07:00:00,2019-02-11 20:18:36.000000000,1,C-841ebdcb,C-3dbd8b2e,1865.44,37.31,12,...,diesel,2019-02-10,2019-02-10,81,6,Sunny,0.0,44,6,1014
25803,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,diesel,2019-02-10,2019-02-10,70,6,Sunny,0.0,62,6,1015
25804,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,diesel,2019-02-10,2019-02-10,72,7,Sunny,0.0,60,6,1015

In [18]:
df_t['date'] = pd.to_datetime(df_t['date']).dt.date

In [19]:
merged_df4 = pd.merge(merged_df3,df_t,left_on=['route_id','departure_date_only'],right_on=['route_id','date'],how='inner')
merged_df4.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type',
       'departure_date_only', 'date_x', 'temp', 'wind_speed', 'description',
       'precip', 'humidity', 'visibility', 'pressure', 'date_y', 'hour',
       'no_of_vehicles', 'accident'],
      dtype='object')

In [20]:
merged_df4

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,wind_speed,description,precip,humidity,visibility,pressure,date_y,hour,no_of_vehicles,accident
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,0,669.0,0
1,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,100,628.0,0
2,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,200,516.0,0
3,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,300,582.0,0
4,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,400,564.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586273,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,7,Sunny,0.0,60,6,1015,2019-02-10,1900,148.0,0
586274,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,7,Sunny,0.0,60,6,1015,2019-02-10,2000,156.0,0
586275,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,7,Sunny,0.0,60,6,1015,2019-02-10,2100,171.0,0
586276,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,7,Sunny,0.0,60,6,1015,2019-02-10,2200,165.0,0
586277,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,7,Sunny,0.0,60,6,1015,2019-02-10,2300,160.0,0

In [21]:
from datetime import datetime
def convert_hour_to_time(hour):
    hour_str = str(hour).zfill(4)  # Convert to string and pad with zeros (e.g., '100' -> '0100')
    return datetime.strptime(hour_str, '%H%M').time()

In [22]:
merged_df4['hour'] = merged_df4['hour'].apply(convert_hour_to_time)
merged_df4['departure_time'] = pd.to_datetime(merged_df4['departure_date']).dt.time
merged_df4['arrival_time'] = pd.to_datetime(merged_df4['estimated_arrival']).dt.time

In [24]:
print(merged_df4[['hour', 'departure_time', 'arrival_time']].head())

       hour departure_time arrival_time
0  00:00:00       07:00:00     13:13:12
1  01:00:00       07:00:00     13:13:12
2  02:00:00       07:00:00     13:13:12
3  03:00:00       07:00:00     13:13:12
4  04:00:00       07:00:00     13:13:12

In [25]:
merged_df4  = merged_df4[
    (merged_df4['hour'] >= merged_df4['departure_time']) &
    (merged_df4['hour'] <= merged_df4['arrival_time'])
]

In [29]:
merged_df4.head(15)

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,precip,humidity,visibility,pressure,date_y,hour,no_of_vehicles,accident,departure_time,arrival_time
7,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,07:00:00,1966.0,0,07:00:00,13:13:12
8,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,08:00:00,2778.0,0,07:00:00,13:13:12
9,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,09:00:00,2271.0,0,07:00:00,13:13:12
10,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,10:00:00,2925.0,0,07:00:00,13:13:12
11,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,11:00:00,2277.0,0,07:00:00,13:13:12
12,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,12:00:00,1770.0,0,07:00:00,13:13:12
13,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,13:00:00,1696.0,0,07:00:00,13:13:12
31,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,07:00:00,1966.0,0,07:00:00,13:13:12
32,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,08:00:00,2778.0,0,07:00:00,13:13:12
33,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,09:00:00,2271.0,0,07:00:00,13:13:12
34,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,10:00:00,2925.0,0,07:00:00,13:13:12
35,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,11:00:00,2277.0,0,07:00:00,13:13:12
36,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,12:00:00,1770.0,0,07:00:00,13:13:12
37,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,13:00:00,1696.0,0,07:00:00,13:13:12
55,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,76,6,1011,2019-01-01,07:00:00,1966.0,0,07:00:00,13:13:12

In [30]:
merged_df4.drop_duplicates()

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,precip,humidity,visibility,pressure,date_y,hour,no_of_vehicles,accident,departure_time,arrival_time
7,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,07:00:00,1966.0,0,07:00:00,13:13:12
8,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,08:00:00,2778.0,0,07:00:00,13:13:12
9,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,09:00:00,2271.0,0,07:00:00,13:13:12
10,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,10:00:00,2925.0,0,07:00:00,13:13:12
11,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,11:00:00,2277.0,0,07:00:00,13:13:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586238,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,0.0,62,6,1015,2019-02-10,08:00:00,2275.0,0,07:00:00,09:37:12
586239,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,0.0,62,6,1015,2019-02-10,09:00:00,2971.0,0,07:00:00,09:37:12
586261,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,0.0,60,6,1015,2019-02-10,07:00:00,2985.0,0,07:00:00,09:37:12
586262,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,0.0,60,6,1015,2019-02-10,08:00:00,2275.0,0,07:00:00,09:37:12
586263,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,0.0,60,6,1015,2019-02-10,09:00:00,2971.0,0,07:00:00,09:37:12

In [33]:
merged_df4.head(20)

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,precip,humidity,visibility,pressure,date_y,hour,no_of_vehicles,accident,departure_time,arrival_time
7,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,07:00:00,1966.0,0,07:00:00,13:13:12
8,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,08:00:00,2778.0,0,07:00:00,13:13:12
9,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,09:00:00,2271.0,0,07:00:00,13:13:12
10,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,10:00:00,2925.0,0,07:00:00,13:13:12
11,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,11:00:00,2277.0,0,07:00:00,13:13:12
12,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,12:00:00,1770.0,0,07:00:00,13:13:12
13,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,97,6,1008,2019-01-01,13:00:00,1696.0,0,07:00:00,13:13:12
31,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,07:00:00,1966.0,0,07:00:00,13:13:12
32,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,08:00:00,2778.0,0,07:00:00,13:13:12
33,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,09:00:00,2271.0,0,07:00:00,13:13:12
34,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,10:00:00,2925.0,0,07:00:00,13:13:12
35,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,11:00:00,2277.0,0,07:00:00,13:13:12
36,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,12:00:00,1770.0,0,07:00:00,13:13:12
37,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,98,6,1008,2019-01-01,13:00:00,1696.0,0,07:00:00,13:13:12
55,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,76,6,1011,2019-01-01,07:00:00,1966.0,0,07:00:00,13:13:12
56,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,76,6,1011,2019-01-01,08:00:00,2778.0,0,07:00:00,13:13:12
57,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,76,6,1011,2019-01-01,09:00:00,2271.0,0,07:00:00,13:13:12
58,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,76,6,1011,2019-01-01,10:00:00,2925.0,0,07:00:00,13:13:12
59,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,76,6,1011,2019-01-01,11:00:00,2277.0,0,07:00:00,13:13:12
60,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,0.0,76,6,1011,2019-01-01,12:00:00,1770.0,0,07:00:00,13:13:12

In [34]:
merged_df4.duplicated()

7         False
8         False
9         False
10        False
11        False
          ...
586238    False
586239    False
586261    False
586262    False
586263    False
Length: 173235, dtype: bool

In [31]:
merged_df4.isnull().sum()

truck_id                0
route_id                0
departure_date          0
estimated_arrival       0
delay                   0
origin_id               0
destination_id          0
distance                0
average_hours           0
truck_age               0
load_capacity_pounds    0
mileage_mpg             0
fuel_type               0
departure_date_only     0
date_x                  0
temp                    0
wind_speed              0
description             0
precip                  0
humidity                0
visibility              0
pressure                0
date_y                  0
hour                    0
no_of_vehicles          0
accident                0
departure_time          0
arrival_time            0
dtype: int64

In [32]:
merged_df5 = pd.merge(merged_df4,df_d,left_on='truck_id',right_on='vehicle_no',how='inner')
merged_df5

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,arrival_time,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,13:13:12,94ed3e6d-f,Manuel Wise,male,48,9,proactive,7,30312694,57.36
1,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,13:13:12,94ed3e6d-f,Manuel Wise,male,48,9,proactive,7,30312694,57.36
2,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,13:13:12,94ed3e6d-f,Manuel Wise,male,48,9,proactive,7,30312694,57.36
3,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,13:13:12,94ed3e6d-f,Manuel Wise,male,48,9,proactive,7,30312694,57.36
4,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,13:13:12,94ed3e6d-f,Manuel Wise,male,48,9,proactive,7,30312694,57.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170384,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,09:37:12,2153743e-5,William Crawford,male,53,29,proactive,9,24445769,57.59
170385,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,09:37:12,2153743e-5,William Crawford,male,53,29,proactive,9,24445769,57.59
170386,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,09:37:12,2153743e-5,William Crawford,male,53,29,proactive,9,24445769,57.59
170387,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,09:37:12,2153743e-5,William Crawford,male,53,29,proactive,9,24445769,57.59
170388,24445769,R-36a2ece1,2019-02-10 07:00:00,2019-02-12 09:37:12.000000000,1,C-594514f8,C-731988ba,2531.01,50.62,14,...,09:37:12,2153743e-5,William Crawford,male,53,29,proactive,9,24445769,57.59